@import url(normalize.css);

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}

html {
    box-sizing: border-box;

}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    min-width: 320px;
    font-family: Roboto, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    padding: 0;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3, p {
    margin: 0;
}

.header {
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
}
.navigation {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;
   
}
.navigation__list {
    display: flex;
    text-transform: uppercase;
    margin-right: 14px;
}
.navigation__link {
    display: block;
    padding: 7px 14px;
}
.navigation__link_active {
    background-color: #E90000;
}
.navigation__hashtag {
    margin-right: 70px;
}
.social {
    display: flex;
    gap: 20px;
}
.burger {
    display: none;
}
.mute {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 24px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
}
.mute__checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.mute__label:before,
.mute__label:after {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E90000;
    box-shadow: 0px 1px 1px rgba(23, 15, 15, 0.3);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}

.mute__label:before {
    background-image: url('../assets/img/volume_off.svg');

}
.mute__label:after {
    right: -22px;
    left: auto;
    background-image: url('../assets/img/volume_up.svg');
}
.mute__checkbox:checked+.mute__label:before {
    left: -22px;
}
.mute__checkbox:checked+.mute__label:after {
    right: 1px;
}

.navigation__close {
    display: none;
}
.social__link {
    display: block;
    width: 24px;
    height: 24px;
}

.social__link_facebook {
    background-image: url('../assets/img/facebook.svg');
}
.social__link_twitter {
    background-image: url('../assets/img/twitter.svg');
}
.social__link_instagram {
    background-image: url('../assets/img/instagram.svg');
}

.main {
    flex-grow: 1;
}