@import url(normalize.css);

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
}

html {
    box-sizing: border-box;

}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    min-width: 320px;
    font-family: Roboto, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3, p {
    margin: 0;
}

.header {
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
    height: 50px;
}
.navigation {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;
   
}
.navigation__list {
    display: flex;
    text-transform: uppercase;
    margin-right: 14px;
}
.navigation__link {
    display: block;
    padding: 7px 14px;
}
.navigation__link_active {
    background-color: #E90000;
}
.navigation__hashtag {
    margin-right: 70px;
}
.social {
    display: flex;
    gap: 20px;
}
.burger {
    display: none;
}
.mute {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 24px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
}
.mute__checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.mute__label:before,
.mute__label:after {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E90000;
    box-shadow: 0px 1px 1px rgba(23, 15, 15, 0.3);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}

.mute__label:before {
    background-image: url('../assets/img/volume_off.svg');

}
.mute__label:after {
    right: -22px;
    left: auto;
    background-image: url('../assets/img/volume_up.svg');
}
.mute__checkbox:checked+.mute__label:before {
    left: -22px;
}
.mute__checkbox:checked+.mute__label:after {
    right: 1px;
}

.navigation__close {
    display: none;
}
.social__link {
    display: block;
    width: 24px;
    height: 24px;
}

.social__link_facebook {
    background-image: url('../assets/img/facebook.svg');
}
.social__link_twitter {
    background-image: url('../assets/img/twitter.svg');
}
.social__link_instagram {
    background-image: url('../assets/img/instagram.svg');
}

.main {
    flex-grow: 1;
    position: relative;
}

.main_index {
    display: flex;
    align-items: center;
    background-image: url('../assets/img/epic.jpg');
    background-position: top;
    background-size: cover;
    padding-left: 180px;
}
.logo {
    animation: zoomIn 1s;
}
@keyframes zoomIn {
    from {
        transform:  scale3d(0, 0, 0);
    }
}

.footer {
    height: 50px;
    position: relative;
    z-index: 500;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.footer__links {
    display: flex;
    gap: 21px;
    margin-bottom: 6px;
}

.footer__copyright {
    color: #6A6A6A;
}
.main_slider {
    height: calc(100% - 100px);
}
.slider-main {
    height: 100%;
}
.slider-main__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-main__video {
    height: 100px;
    width: 100%;
    object-fit: contain;
}
.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    background-color: #000;
    min-height: 144px;
    z-index: 400;
    padding-top: 12px;
    padding: 0 20px;
}
.pagination__arrow {
    display: block;
    margin: 0 auto 20px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid #fff;
    border-right: 7px solid transparent;
    background-color: transparent;
    transition: border-color 0.5s ease-in-out;
    margin-top: 10px;
}
.pagination__arrow:hover {
    border-top-color: #E90000;
}
.slider-thumbs {
    max-width: 820px;
}

.slider-main__video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



@media (max-width: 1024px) {
    .mute {
        margin-right: 20px;
    }
    .main_index {
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        min-height: 50px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .burger {
        display: block;
        width: 20px;
        height: 12px;
        background-color: transparent;
        background-image: url('../assets/img/menu.svg');
        border: none;
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 240px;
        background-color: #260707;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 90px;
        text-align: center;
        align-items: stretch;
        transform: translateX(-240px);
        transition: transform 0.5s ease-in-out;
        z-index: 600;
    }
    .navigation_active {
        transform: translateX(0);
    }
    .navigation__list {
        flex-direction: column;
        margin-right: 0;
        gap: 6px;
        margin-bottom: 6px;
    }
    .navigation__link {
        padding: 12px 0;
    }
    .navigation__hashtag {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .navigation__close {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 16px;
        height: 16px;
        background-image: url('../assets/img/close.svg');
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .social {
        justify-content: center;
    }
    .main_index {
        padding-left: 30px;
    }
    .logo {
        width: 230px;
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

@media (max-width: 580px) {

        .main_index {
            align-items: flex-end;
            justify-content: center;
            padding-left: 0;
            padding-bottom: 64px;
            background-image: linear-gradient(
                0.11deg,
                rgba(0, 0, 0, 0.76) 32.14%,
                rgba(255, 0, 0, 0) 72.56%
            ), url('../assets/img/media-hero.jpg');
        }
        .logo {
            width: 125px;
        }
        .footer {
            height: 50px;
            font-size: 6px;
            line-height: 7px;
        }
        .pagination__arrow {
            padding-top: 10px;
            margin-bottom: 6px;
        }
        .pagination {
            min-height: 80px;
        }
}

@media (max-width: 580px) {
    .mute {
        margin-right: -78px;
    }
}